<html>
	<head>
		<title>Login</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/socket.io/socket.io.js"></script>
	</head>
	<body>
    <h1>SIGN UP</h1>

		<form action='signupUser' method="post">
			<label>email:</label> <input name='email' id='email' type='text' /> <br>
			<label>password:</label> <input name='pass' id='pass' type='password' /> <br>
      <label>password confirmation:</label> <input name='passConf' id='passConf' type='password' /> <br>
			<button type="submit">Registrarse</button>
		</form>

	</body>
</html>
